body {
    background-color: black;
    padding-top: 15vh;
}

html {
    font-size: 62.5;
}

h1 {
    color: white;
    margin: 0 auto;
    height: 10vh;
    text-align: center;
    font-size: 2rem;
    font-family: 'Syne Mono', monospace;
}

input {
    display: block;
    margin: 0 auto;
    text-align: center;
    height: 5vh;
    width: 50vw;
    font-family: 'Syne Mono', monospace;
}

button {
    display: block;
    margin: 0 auto;
    text-align: center;
    color: white;
    background-color: black;
    border: 1px solid transparent;
    height: 100px;
}

p {
    color: white;
    margin: 0 auto;
    text-align: center;
}

.hidden {
    display: none;
}

.algo-asks {
    font-size: 1.6rem;
    font-family: 'Syne Mono', monospace;;
    
}

.algo-asks:hover {
    font-weight: bolder;
}

#result {
    height: 70vh;
    width: 80vw;
}

@media all and (max-width: 455px) {
    h1 {
        margin-bottom: 30px;
    }
    }
}

