body {
    background-color: black;
}

html {
    font-size: 62.5;
}

h1 {
    color: white;
    margin: 0 auto;
    margin-top: 200px;
    height: 10vh;
    text-align: center;
    font-size: 2rem;
    font-family: 'Syne Mono', monospace;
}

input {
    display: block;
    margin: 0 auto;
    text-align: center;
    height: 5vh;
    width: 50vw;
    font-family: 'Syne Mono', monospace;
    font-size: 1.4rem;
}

.algo-answers {
    display: block;
    margin: 0 auto;
    margin-top: 30vh;
    text-align: center;
    color: white;
    background-color: black;
    font-family: 'Syne Mono', monospace;
    font-size: 5rem;
    height: 40vh;
    width: 80vw;
}

.algo-answers:hover {
    font-weight: bolder;
}

.hidden {
    display: none;
}

.algo-asks {
    font-size: 1.6rem;
    font-family: 'Syne Mono', monospace;   
    display: block;
    margin: 0 auto;
    text-align: center;
    color: white;
    background-color: black;
    height: 100px;
}

.algo-asks:hover {
    font-weight: bolder;
}

button {
    border: 1px solid black;
}

@media all and (max-width: 265px) {
    h1 {
        margin-bottom: 50px;
        font-size: 1.6rem;
    }
    .algo-answers {
        font-size: 2rem;
    }
  }

@media all and (max-width: 455px) {
    h1 {
        margin-bottom: 30px;
    }
    .algo-answers {
        font-size: 2rem;
    }
  }

